body{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
   
    margin: 5.3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
    overflow: hidden;
    transition: 1s all;
}
.content.close{
    width: 0vw; 
}
.content.hide{
    opacity: 0;
}
#imgBox{
    height: 87vh;
    width: 94vw;
    background-image: url('./assets/hero4.jpg');
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuBox{
    background-color: blue;
    width: 0px;
    height:87vh;
    transition: 1s all;
}
.menuBox.open{
    width:1000px
}
.titleText{
    color:white;
    font-size: 10vh;
    transition: 1s all;
}
#openBtn{
    color:white;
    text-decoration: none;
}
#openBtn:hover{
    color:gray;
    text-decoration: underline;
}

.navBar{
    height: 6.35vh ;
    width: 94vw;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navlink{
    margin-right: 3%;
    font-size: 3vh;
    color:black;
    text-decoration:none
}
.navlink:hover{
    color:gray;
   
}
.navlink.active{
    text-decoration: underline;
}
@media only screen and (max-width: 1000px) {
    .navBar{
        justify-content: center;
    }
    .content{
        flex-direction: column;
    }
  }